services:
  tracking-server:
    image: theo733/g2_547_final:latest
    env_file:
      - .env
    ports:
      - "5050:5000"
    command: >
      mlflow server
      --host 0.0.0.0
      --backend-store-uri ${APP_DB_URL}
      --default-artifact-root s3://mlflow-bucket-g2-new
      --serve-artifacts
      --artifacts-destination s3://mlflow-bucket-g2-new
      --gunicorn-opts "--log-level debug"

  inference:
    image: theo733/g2_547_final:latest
    depends_on:
      - tracking-server
    env_file:
      - .env
    environment:
      - MLFLOW_TRACKING_URI=http://tracking-server:5000
    command: >
      mlflow models serve
      -m "models:/steam_playtime_increase_model/1"
      -p 5000
      --host 0.0.0.0
    ports:
      - "5001:5000"